* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

#game-container {
	margin: 0;
	padding: 0;
	text-align: center;
	max-height: 95vh;
}

#text-container {
	padding: 10px;
}

h3, h4 {
	margin-bottom: 5px;
}
